.header-content {
  width: 78%;
  margin: auto;
  z-index: 100;
}
.header-footer {
  position: relative;
  margin-top: 60px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;

  justify-content: space-between;
}
