.email-field {
  margin-top: 24px;
  position: relative;
}
.email-address {
  background-color: #14274a;
  border: 1px solid #e0b973;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  width: 300px;
}
.email-address-ok {
  cursor: pointer;
  color: #14274a;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0b973;
}
