.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 456px;
  margin-top: 20px;
  color: #14274a;
}
.input {
  width: 100%;
  padding: 10px;
  font-size: 27px;
}
.label {
  font-family: Arial;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 5px;
}
.submit {
  background-color: #e0b973;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 10px;
}
.right {
  display: flex;
  align-items: flex-end;
}
