.testimonials {
  margin: 50px auto 100px auto;
}
.testimonials-title {
  font-family: Adobe Garamond Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  /* identical to box height */

  color: #14274a;
}
.testimonial-controls {
  display: flex;
  justify-content: center;
}
